html {
  color: #222;
  font-size: 1.5rem;
  line-height: 3rem;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100%
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

a {
  color: #4183c4;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #154B7F;
}

div#main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

div#main-container div {
  width: 25rem;
  height: 10rem;
  line-height: 10rem;
  text-align: center;
}

div#main-container div:hover {
  font-size: 2rem;
}
